{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h3>Movies list</h3>
                            <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
                        </li>
                    {% endif %}

                    <li class="page-link text-dark">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    {% for movie in movies %}
                        <tr>
                            <td style="text-align: right", width="20">{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td><a href="{% url 'movieapp:movie_detail' pk=movie.id %}">{{ movie.title }}</a></td>
                        </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}